{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

{% for metric in metrices %}
<div id='dashboard-metric'>
    <h2>
        <a href="{{ metric.get_absolute_url }}">
            {{ metric.name }}
        </a>
        <div class='shaded'>{{ metric.owner }}</div>
    </h2>
    <p>
    <b>Status:</b>
    {% if metric.has_error %}    
    <img class='icon' src="{% static "img/error_icon.png" %}" height='16px' alt="logo"/>
    {% else %}
    <img class='icon' src="{% static "img/ok_icon.png" %}" height='16px' alt="logo"/>
    {% endif %}
    </p>
    {% if metric.doc %}<p>{{ metric.doc }}</p>{% endif %}
    <p>{{ metric.svgplot|safe }}</p>
</div>    
{% endfor %}

{% endblock %}
