{% extends 'base_monitor.html' %}
{% load staticfiles %}

{% block content %}

<div class='dashboard_container'>
{% for metric in metrices %}

<a href="{{ metric.get_absolute_url }}">
<div class='dashboard_metric{% if metric.is_in_trouble_status %} alert-mode{% endif %}'>
    <h3>
        {{ metric.name }}
        <div class='shaded'>{{ metric.owner }}</div>
    </h3>
    <p>
    <b>Status:</b>
    {% if metric.is_in_trouble_status %}    
    <img class='icon' src="{% static "img/error_icon.png" %}" height='16px' alt="logo"/>
    {% else %}
    <img class='icon' src="{% static "img/ok_icon.png" %}" height='16px' alt="logo"/>
    {% endif %}
    </p>
    <div class='figure_monitor_dashboard'>
        {{ metric.data_display|safe }}
    </div>
</div>
</a>
{% endfor %}

{% endblock %}
