{% extends 'dashboard_base.html' %}

{% block menubar %}
    {% for sec, secname in sections.iteritems %}
    <a href='{% url "dashboard_section" sec %}'{% if sec == section %} class='activesection'{% endif %}><li>{{ secname }}</li></a>
    {% endfor %}
{% endblock %}

{% block content %}

<h2>{{ section_name }}</h2>

{% for name, outstring in outputs.items %}

<div id='dashboard-metric'>
    <h3>{{ name }} </h3>
    <div id='figure'>
        {{ outstring|safe }}
    </div>
</div>    

{% endfor %}

{% endblock %}
