{% extends 'base_desdmdashboard.html' %}
{% load staticfiles %}

{% block menubar %}
    {% for sec, secname in sections.iteritems %}
    <li><a href='{% url "dashboard_section" sec %}'{% if secname == section_name %} class='activesection'{% endif %}>{{ secname }}</a></li>
    {% endfor %}

    <a href='{% url "dashboard_section" "virtualmachines" %}' class="dropdown{% if "virtualmachines" == section_name %} activesection{% endif %}"><li>VMs</a>
    <ul>
    {% for vm in virtualmachines %}
            <li><a href='http://www.google.com' class='dropdown'>{{ vm }}</a></li>
    {% endfor %}
    </ul>
    </li>

{% endblock %}

{% block content %}

<h2>{{ section_name }}</h2>

{% for name, sectiondict in section_dicts.items %}

<div id='dashboard-metric'>

    <h3>{{ sectiondict.title }} </h3>
    {% if sectiondict.content_html %}
        <div id='figure'>
            {{ sectiondict.content_html|safe }}
        </div>
    {% endif %}
   
    {% if sectiondict.metric_listing %}
    <div class='metric_listing_container'>
    {% for metric in sectiondict.metric_listing %}
    {% with in_trouble=metric.is_in_trouble_status %}
    <a href='{{ metric.get_absolute_url }}'>
    <div class='metric_listing_element{% if in_trouble %} alert-mode{% endif %}'>
            <div class='metric_listing_cell metric_listing_wide_cell'><strong>{{ metric.name }}</strong></div>
            <div class='metric_listing_cell metric_listing_small_cell'>{% if in_trouble %}    
            <img class='icon' src="{% static "img/error_icon.png" %}" height='12px' alt="logo"/>
            {% else %}
            <img class='icon' src="{% static "img/ok_icon.png" %}" height='12px' alt="logo"/>
            {% endif %}</div>
            <div class='metric_listing_cell'>last measured:</div>
            <div class='metric_listing_cell metric_listing_wide_cell'>{{ metric.latest_time }}</div>
            <div class='metric_listing_cell'>{{ metric.latest_value|floatformat }} {% if metric.unit %}{{ metric.get_unit_display }}{% endif %}</div>
    </div>
    </a>
    {% endwith %}
    {% endfor %}
    </div>
    {% endif %}

    {% if sectiondict.doc %}
        <h4>Documentation</h4>
        {{ sectiondict.doc|safe }}
    </h3>
    {% endif %}
</div>    

{% endfor %}



{% endblock %}
