{% extends 'dashboard_base.html' %}
{% load staticfiles %}

{% block content %}

{% if vmdict %}
<h2>Virtual Machines</h2>
</br>
We currently monitor the following virtual machines:
<ul>
    {% for vm_name, vm_url in vmdict.items %}
    <li><a href='{% url "vm_detail" vm_url %}'>{{ vm_name }}</a></li>
    {% endfor %}

{% elif section_dicts %}
<h2>{{ vm_name }}</h2>

{% for sectiondict in section_dicts %}
    <h3>{{ sectiondict.title }} </h3>
    {% if sectiondict.content_html %}
        <div id='figure'>
            {{ sectiondict.content_html|safe }}
        </div>
    {% endif %}
{% endfor %}

{% else %}
    <h2>Nothing to show here for now ..</h2>

{% endif %}



{% endblock %}
