{% extends 'site_template.html' %}
{% load staticfiles %}

<!-- HTML HEAD CONTENT **************************************************** -->

{% block head_title %}DESDM EEUPS{% endblock %}
{% block extrahead %}{% endblock %}



<!-- HTML BODY ************************************************************ -->

<!-- HEADER CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<!-- TITLE -->
{% block logo %}<img src="{% static "img/des_logo.png" %}" width='40pt' height='40pt' alt="logo" />{% endblock %}
{% block site_title %}DESDM DASHBOARD{% endblock %}
{% block site_subtitle %}Ressource Monitoring{% endblock %}

<!-- NAVIGATION -->
{% block navigationbar %}
    <a href='{% url 'doc_home' %}'{% if navsection == 'doc' %} class='activesection'{% endif %}><li>doc</li></a>
    <a href='{% url 'admin:index' %}'{% if navsection == 'admin' %} class='activesection'{% endif %}><li>admin</li></a>
    <a href='{% url 'api' %}'{% if navsection == 'api' %} class='activesection'{% endif %}><li>api</li></a>
    <a href='{% url 'metrics_home' %}'{% if navsection == 'metrics' %} class='activesection'{% endif %}><li>metrics</li></a>
    <a href='{% url 'dashboard_home' %}'{% if navsection == 'dashboard' %} class='activesection'{% endif %}><li>dashboard</li></a>
{% endblock %}

<!-- MENUBAR -->
{% block menubar %}
{% endblock %}

<!-- MENU STATUS INFO -->
{% block menu_status_info %}
{% now "M. j, Y, P" %} - US Central Time
{% endblock %}


<!-- CONTAINER CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

{% block precontent %}{% endblock %}
{% block content %}{% endblock %}
